<!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <em class="fas fa-map-marked-alt text-primary mb-2"></em>
                                <h4 class="text-uppercase m-0">Dirección</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Castellón de la Plana</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <em class="fas fa-envelope text-primary mb-2"></em>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">amartin.onda@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <em class="far fa-thumbs-up text-primary mb-2"></em>
                                <h4 class="text-uppercase m-0">Redes sociales</h4>
                                <hr class="my-4 mx-auto" />
                                    <div class="social d-flex justify-content-center">
                                        <a class="mx-2" href="#!" title="imgtwitter"><em class="fab fa-twitter" alt="imgtwitter"></em></a>
                                        <a class="mx-2" href="#!" title="imgfb"><em class="fab fa-facebook-f" alt="imgfb"></em></a>
                                        <a class="mx-2" href="#!" title="imggithub"><em class="fab fa-github" alt="imggit"></em></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50">
            <div class="container px-4 px-lg-5"><a href="/terminos">Términos y condiciones</a></div>
            <div class="container px-4 px-lg-5"><a href="/privacidad">Política de privacidad</a></div>
            <div class="container px-4 px-lg-5">Copyright &copy; CalcCem - Andrea Martín Rodríguez - 2022</div>
        </footer>