.gallery-title {
    margin-top: 3em;
    font-size: 36px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    border-bottom: 1px solid #000000;
}


.filter-button {
    font-size: 18px;
    border: 1px solid #020202;
    border-radius: 5px;
    text-align: center;
    color: #080ccc;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #54aae4;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #7ad8f5;
}

.btn-default:active .filter-button:active {
    background-color: #FFA500;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 350px;
    height: 250px;
}