{% extends "base.html.twig" %}
{% block title %}Colecciones{% endblock %}

{% block javascripts %}
        <script src="/js/accordion.js"></script>
{% endblock %}

{% block stylesheets %}
        <link href="/js/jquery-ui-1.13.1.custom/jquery-ui.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <h1 id="after-nav">Listado de colecciones</h1>
        {% if colecciones %}
            <div id="notaccordion">
            {% for coleccion in colecciones %}          
                {{ include ("/partials/datos_azulejo.html.twig", { "coleccion": coleccion}) }}
            {% endfor %}
            </div>
        {% else %}
            <p>Colección {{ coleccion.id }} no encontrada</p>
        {% endif %}
    </div>
{% endblock %}