{% extends "base.html.twig" %}
{% block title %}Cálculo{% endblock %}

{% block stylesheets %}
    <link href="/css/calculo.css" rel="stylesheet" />
    <link href="/css/codigoQR.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
            <script src="/js/jquery-3.6.0.js"></script>
            <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
            <script src="/js/calculo.js"></script>
            <script src="/js/codigoQR.js"></script>
{% endblock %}

{% block body %}
    <div id="formCalculo" class="container">
        <section>
            <form id="formCalculo">
                <label>Tipo de azulejo:</label>
                <select name="select" id="selector">
                    <option value="0" selected>---</option>
                    <option value="1">1 - FS Raku</option>
                    <option value="2">2 - Poitiers Blanco</option>
                    <option value="3">3 - Ground Decorativo</option>
                    <option value="4">4 - Ground Mila Warm</option>
                    <option value="5">5 - Essence anti slip</option>
                    <option value="6">6 - Mumble Barcelos</option>
                    <option value="7">7 - Brass Rectificado</option>
                    <option value="8">8 - Brass Decorativo</option>
                    <option value="9">9 - Nature Decorativo</option>
                    <option value="10">10 - Adrenaline</option>
                    <option value="11">11 - FS Star</option>
                    <option value="12">12 - FS Yard</option>
                  </select>
                <br >
                <label>Largo (cm):</label>
                <input type="text" id="largo"><br >
                <label>Ancho (cm): </label>
                <input type="text" id="ancho"><br >           
                <label>Junta (mm):</label>
                    <select name="selectJunta" id="selectJunta">
                      <option value="0" selected>---</option>
                      <option value="1">1 mm</option>
                      <option value="2">2 mm</option>
                      <option value="3">3 mm</option>
                      <option value="4">4 mm</option>
                      <option value="5">5 mm</option>
                  </select><br >
                  <br>
                <button id="btncalculo">Calcular</button>
            </form>
            <div id="text"></div>
            <br>
            <button id="print">Generar</button>
            <br>
        </section>
    </div>
{% endblock %}
