{% extends "base.html.twig" %}
{% block title %}Cálculo{% endblock %}

{% block stylesheets %}
    <link href="/css/calculo.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/jquery.qrcode.min.js"></script>
    <script src="/js/calculo.js"></script>
    <script src="/js/codigoQR.js"></script>
{% endblock %}

{% block body %}

    <div id="formCalculo" class="container">
        <section>
            <form id="formCalculo">
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example1" id="tipoAzulejo">Tipo de azulejo:</label>
                <select name="select" id="selector" class="form-control">
                    <option value="0" selected>---</option>
                    <option value="1">1 - FS Raku</option>
                    <option value="2">2 - Poitiers Blanco</option>
                    <option value="3">3 - Ground Decorativo</option>
                    <option value="4">4 - Ground Mila Warm</option>
                    <option value="5">5 - Essence anti slip</option>
                    <option value="6">6 - Mumble Barcelos</option>
                    <option value="7">7 - Brass Rectificado</option>
                    <option value="8">8 - Brass Decorativo</option>
                    <option value="9">9 - Nature Decorativo</option>
                    <option value="10">10 - Adrenaline</option>
                    <option value="11">11 - FS Star</option>
                    <option value="12">12 - FS Yard</option>
                  </select>
            </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Largo (cm):</label>
                    <input type="text" id="largo" class="form-control" >
                </div>
                
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example3">Ancho (cm): </label>
                    <input type="text" id="ancho" class="form-control">
                </div>
                <button id="btncalculo" type="submit" class="btn btn-primary btn-block mb-4">Calcular</button>
                <button id="btnGenera" class="btn btn-primary btn-block mb-4">Generar QR</button>
            </form>
            <div id="text"></div>
            <div id="qrcode" class="featured-text text-center"></div>
        </section>
    </div>
{% endblock %}
