{% extends "base.html.twig" %}
{% block title %}Contacto{% endblock %}

{% block stylesheets %}
            <link href="/css/form.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container">
        {{form(formulario)}}
        {# <form>
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example1">Nombre:</label>
                <input type="text" id="form4Example1" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example1">Apellido:</label>
                <input type="text" id="form4Example1" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example2">Correo Electrónico:</label>
                <input type="email" id="form4Example2" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example3">Mensaje:</label>
                <textarea class="form-control" id="form4Example3" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
        </form> #}
    </div>
    
{% endblock %}