{% extends "base.html.twig" %}
{% block title %}Contacto{% endblock %}

{% block stylesheets %}
            <link href="/css/form.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container">
    {% form_theme formulario 'bootstrap_5_horizontal_layout.html.twig' %}

        {{ form_start(formulario) }}
            {{form(formulario)}}
        {{ form_end(formulario) }}
        
    </div>
    
{% endblock %}