{% extends "base.html.twig" %}
{% block title %}Azulejo{% endblock %}

{% block stylesheets %}
    <link href="/css/azulejo.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div id="dato-azulejo" class="container">  
        <h1>Ficha del azulejo</h1>
        <br>
        {% if azulejo %}
            {{ include ("/partials/azulejo-part.html.twig", { "azulejo": azulejo}) }}
        {% else %}
            <p>El azulejo {{ azulejo.id }} no encontrado</p>
        {% endif %}
    </div>
{% endblock %}