{% extends "base.html.twig" %}
{% block title %}Azulejo{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <h1>Ficha del azulejo</h1>
    {% if azulejo %}
            <script src="/js/accordion.js"></script>

        {{ include ("/partials/datos_azulejo.html.twig", { "azulejo": azulejo}) }}
    {% else %}
        <p>El azulejo {{ azulejo.id }} no encontrado</p>
    {% endif %}
{% endblock %}