{% extends "base.html.twig" %}
{% block title %}Galería{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="/css/galeria.css">
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <script src="/js/galeria.js"></script>
{% endblock %}

{% block body %}

     
   <div class="container">
        <div class="row" style="margin-left: 2em">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Azulejos</h1>
            </div>
            <div align="center" style="margin-left: -2em"> 
                <button class="btn btn-default filter-button" data-filter="all">Todos</button> 
                <button class="btn btn-default filter-button" data-filter="blancos">Blancos</button> 
                <button class="btn btn-default filter-button" data-filter="cementados">Cementados</button> 
                <button class="btn btn-default filter-button" data-filter="madera">Madera</button> 
                <button class="btn btn-default filter-button" data-filter="metal">Metal</button>
                <button class="btn btn-default filter-button" data-filter="piedra">Piedra</button> 
                <button class="btn btn-default filter-button" data-filter="vintage">Vintage</button> 
            </div>
            
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter blancos"><a href=""><img src="../assets/img/FSRaku.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter blancos"><a href=""> <img src="../assets/img/poitiersBlanco.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter cementados"><a href=""> <img src="../assets/img/groundDecorativo.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter cementados"><a href=""> <img src="../assets/img/groundMila.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter madera"><a href=""> <img src="../assets/img/essence.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter madera"><a href=""> <img src="../assets/img/mumble.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter metal"><a href=""> <img src="../assets/img/brassRectificado.jpeg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter metal"><a href=""> <img src="../assets/img/brassDecorativo.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter piedra"><a href=""> <img src="../assets/img/natureDecorativo.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter piedra"><a href=""> <img src="../assets/img/adrenaline.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vintage"><a href=""> <img src="../assets/img/FSStar.jpg" class="img-responsive"></a> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vintage"><a href=""> <img src="../assets/img/FSYard.jpg" class="img-responsive"></a> </div>
        </div>
    </div>
{% endblock %}
