{% extends "base.html.twig" %}
{% block title %}Galería{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="/css/galeria.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="/js/tooltip.js"></script>
    <script src="/js/galeria.js"></script>
    
{% endblock %}

{% block body %}

     
   <div class="container">
        <div class="row" style="margin-left: 2em">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Azulejos</h1>
            </div>
            <div align="center" style="margin-left: -2em"> 
                <button class="btn btn-default filter-button" data-filter="all">Todos</button> 
                <button class="btn btn-default filter-button" data-filter="blancos">Blancos</button> 
                <button class="btn btn-default filter-button" data-filter="cementados">Cementados</button> 
                <button class="btn btn-default filter-button" data-filter="madera">Madera</button> 
                <button class="btn btn-default filter-button" data-filter="metal">Metal</button>
                <button class="btn btn-default filter-button" data-filter="piedra">Piedra</button> 
                <button class="btn btn-default filter-button" data-filter="vintage">Vintage</button> 
            </div>
            
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter blancos"  ><span class="hover" title="Por favor, espere..." data-id='1' id="azulejo_1"><img src="../assets/img/FSRaku.jpg" class="img-responsive" alt="img1" ></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter blancos" ><span class="hover" title="Por favor, espere..." data-id='2' id="azulejo_2"><img src="../assets/img/poitiersBlanco.jpg" class="img-responsive" alt="img2"></a></span></div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter cementados" ><span class="hover" title="Por favor, espere..." data-id='3' id="azulejo_3"><img src="../assets/img/groundDecorativo.jpg" class="img-responsive" alt="img3"></a> </span></div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter cementados" ><span class="hover" title="Por favor, espere..." data-id='4' id="azulejo_4"><img src="../assets/img/groundMila.jpg" class="img-responsive" alt="img4"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter madera" ><span class="hover" title="Por favor, espere..." data-id='5' id="azulejo_5"><img src="../assets/img/essence.jpg" class="img-responsive" alt="img5"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter madera" ><span class="hover" title="Por favor, espere..." data-id='6' id="azulejo_6"><img src="../assets/img/mumble.jpg" class="img-responsive" alt="img6"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter metal" ><span class="hover" title="Por favor, espere..." data-id='7' id="azulejo_7"><img src="../assets/img/brassRectificado.jpeg" class="img-responsive" alt="img7"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter metal" ><span class="hover" title="Por favor, espere..." data-id='8' id="azulejo_8"><img src="../assets/img/brassDecorativo.jpg" class="img-responsive" alt="img8"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter piedra" ><span class="hover" title="Por favor, espere..." data-id='9' id="azulejo_9"> <img src="../assets/img/natureDecorativo.jpg" class="img-responsive" alt="img9"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter piedra" ><span class="hover" title="Por favor, espere..." data-id='10' id="azulejo_10"> <img src="../assets/img/adrenaline.jpg" class="img-responsive" alt="img10"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vintage" ><span class="hover" title="Por favor, espere..." data-id='11' id="azulejo_11"> <img src="../assets/img/FSStar.jpg" class="img-responsive" alt="img11"></a></span> </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter vintage" ><span  class="hover" title="Por favor, espere..." data-id='12' id="azulejo_12"><img src="../assets/img/FSYard.jpg" class="img-responsive" alt="img12"></a></span> </div>
        </div>
    </div>
{% endblock %}
