{% extends "base.html.twig" %}
{% block title %}Azulejos{% endblock %}

{% block stylesheets %}
    <link href="/css/azulejo.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="titulo">Listado de Azulejos</h1>
        <br>
        {% if azulejos %}
            {% for azulejo in azulejos %}
                {{ include ("/partials/azulejo-part.html.twig", { "azulejo": azulejo}) }}
            {% endfor %}
        {% else %}
            <p>Azulejo {{ azulejo.id }} no encontrado</p>
        {% endif %}
    </div>
{% endblock %}